<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<a href="/create-customer">Create New Customer</a>
<h1>List Customer</h1>
<form>
    Search By FirstName:
    <input name="search" type="text"/>
    <input type="submit" value="Search">
</form>
<br/>
<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="beng : ${customers}">
        <tr>
            <td th:text="${beng.firstName}"></td>
            <td th:text="${beng.lastName}"></td>
<!--    doan nay deo nho-->
            <td th:if="${beng.province}" th:text="${beng.province.name}"></td>
            <td th:unless="${beng.province}"></td>

            <td><a th:href="@{/edit-customer/__${beng.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${beng.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number+1}"></span>/ <span th:text="${customers.totalPages}"></span>
    <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
</body>
</html>